PORT=4000
SUPABASE_URL=https://ngvfbgmahvradbkiwhfz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ndmZiZ21haHZyYWRia2l3aGZ6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODAwMjQzOSwiZXhwIjoyMDkzNTc4NDM5fQ.QrSLpF6rJrQJgAcSi6hmjN9hKYcqc71jM6uBBcG6TCo
